<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
      <h1><%= title %></h1>
    </nav>
    <div id="gameArea">
      <img src="../images/Christmas.jpg" alt="Christmas Puzzle">
    </div>
    <script src="../javascripts/script.js"></script>
  </body>
</html>
