<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
      <h1><%= title %></h1>
    </nav>
    <ul>
      <li>Luigi</li>
      <li>Super Leaf</li>
      <li>Blue Toad</li>
    </ul>
    <div id="gameArea" class="relative">
      <img src="../images/mario-castle.jpg" alt="Avenue Puzzle">
    </div>
    <ul id="menu" class="absolute hidden">Menu</menu>
    <script src="../javascripts/script.js"></script>
  </body>
</html>
