<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <h1><%= title %></h1>
      <p><a href="/leaderboard">Leaderboard</a></p>
    </nav>
    <div class="container">
      <a href="/gameOne">Game 1</a>
      <a href="/gameTwo">Mario Castle</a>
      <a href="/gameThree">Game 3</a>
    </div>
  </body>
</html>
