<!DOCTYPE html>
<html>
  <head>
    <title>PhotoHunt</title>
    <link rel="icon" type="image/mag-icon" href="../images/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </head>
  <body data-dm="2">
    <nav class="navbar flex" id="navbar" data-dm="1">
      <h1 class="game-title first" data-dm="4"><a href="/" data-dm="3">Photo<span class="second">Hunt</span></a></h1>
      <div class="list right">
        <p class="leaderboard" data-dm="4"><a href="/leaderboard" data-dm="3">Leaderboard</a></p>
        <button id="mode-switch" class="switch"><box-icon name='tone' color="#6765cf"></box-icon></button>
      </div>
    </nav>
    <h1 data-dm="3" class="lgletters">Leaderboards</h1>
    <div class="bx-card">
      <div class="card size">
        <img class="preview size" src="../images/mario-castle.jpg" alt="Mario Castle">
        <div class="container" data-dm="1">
          <h3 class="link-name" data-dm="3">Mario Castle</h3>
          <div class="linklead"><Button id="mario" class="play" data-game="Mario-Castle">Show Leaderboard</Button></div>
        </div>
      </div>
      <div class="card size">
        <img class="preview size" src="../images/cyber-city.jpg" alt="Cyber City">
        <div class="container" data-dm="1">
          <h3 class="link-name" data-dm="3">Cyber City</h3>
          <div class="linklead"><Button id="cyber" class="play" data-game="Cyber-City">Show Leaderboard</Button></div>
        </div>
      </div>
      <div class="card size">
        <img class="preview size" src="../images/space-party.jpg" alt="Space Party">
        <div class="container" data-dm="1">
          <h3 class="link-name" data-dm="3">Space Party</h3>
          <div class="linklead"><Button id="space" class="play" data-game="Space-Party">Show Leaderboard</Button></div>
        </div>
      </div>
    </div>
    <h1 id="leadTitle" data-dm="3" class="lgletters"></h1>
    <table class="styled-table" id="table" data-dm="3">
      <thead>
        <tr>
          <th style="border-radius: 8px 0px 0px 0px;" class="ttop">Place</th>
          <th class="ttop">Name</th>
          <th style="border-radius: 0px 8px 0px 0px;" class="ttop">Time</th>
        </tr>
      </thead>
      <tbody id="leaderboard" class="tbody" data-dm="1" >
      </tbody>
      <tr>
        <th style="border-radius: 0px 0px 0px 8px;" class="tbottom"></th>
        <th class="tbottom"></th>
        <th style="border-radius: 0px 0px 8px 0px;" class="tbottom"></th>
      </tr>
    </table>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="../javascripts/style.js"></script>
    <script src="../javascripts/leaderboard.js"></script>
  </body>
</html>