<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar" id="navbar">
      <h1><a href="/">PhotoHunt</a></h1>
      <div class="list">
        <p><a href="/leaderboard">Leaderboard</a></p>
        <button id="mode-switch">Light Dark</button>
      </div>
    </nav>
    <div class="game-selection">
      <Button id="mario">Mario Castle</Button>
      <Button id="cyber">Cyber City</Button>
      <Button id="space">Space Party</Button>
    </div>
    <table class="hidden" id="leaderboard">
    </table>
    <script src="../javascripts/style.js"></script>
    <script src="../javascripts/leaderboard.js"></script>
  </body>
</html>