:root{
  --dark1: #2d333b;
  --dark2: #1c2128;

  --text: #F9F9FB;
  --primary: #8584AE;
  --secondary: #101019;
  --accent: #626194;
}

body{
  margin:0px; padding:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lock-body{
  height: 100vh;
  overflow-y: hidden;
}

.navbar{
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1vh;
  background-color: rgb(240, 240, 240);
  position: sticky;
  top: 0;
  z-index: 999;
}

.list{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list > p{
  margin-left: 10px;
  margin-right: 10px;
}

#gameArea{
  width: 100%;
  height: fit-content;
  position: relative;
  z-index: 10;
}

.lock-game{
  pointer-events: none;
  filter: brightness(.5);
}

.game-image{
  width: 100%;
  height: auto;
}

.absolute {
  position: absolute;
}
.hidden {
  /* The menu is hidden at first */
  display: none;
}

#menu{
  background-color: white;
  z-index: 11;
}

/* alert message */
.alert{
  position: sticky;
  bottom: 10vh;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  z-index: 12;
}

.success{
  background-color: rgba(46, 241, 28, 0.89);
}

.fail{
  background-color: rgba(241, 28, 28, 0.89);
}

.slide-in {
	-webkit-animation: slide-in-bottom 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
	        animation: slide-in-bottom 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
}

/* game start modal */
.start-popup{
  position: absolute;
  top: 20%;
  gap: 10px;
  z-index: 999;
}

.overview{
  display: flex;
}

.game-preview{
  width: auto;
  height: 40vh;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


#leaderboard-form{
  z-index: 999;
}

/* darkmode style */
.navbar.darkmode{
  background-color: var(--dark1);
}

body.darkmode{
  background-color: var(--dark2);
}


/* animation frames */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}